<%= form_with(model: shoe_size) do |form| %>
  <% if shoe_size.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shoe_size.errors.count, "error") %> prohibited this shoe_size from being saved:</h2>

      <ul>
        <% shoe_size.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :size, style: "display: block" %>
    <%= form.text_field :size %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.text_field :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
