<div id="<%= dom_id billing_address %>">
  <p>
    <strong>Name:</strong>
    <%= billing_address.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= billing_address.email %>
  </p>

  <p>
    <strong>Phone no:</strong>
    <%= billing_address.phone_no %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= billing_address.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= billing_address.city %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= billing_address.postal_code %>
  </p>

  <p>
    <strong>Order detail:</strong>
    <%= billing_address.order_detail_id %>
  </p>

</div>
